<!-- your html code here -->
<ul class="nav p-0 mb-2 bg-dark text-white">
  <li class="nav-item ">
    <p class="nav-link active text-secondary" aria-current="page" href="#"><strong>Start Bootstrap</strong></p></p>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Services</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Portfolio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Contact</a>
  </li>
</ul>